:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

div#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  padding: 0;
  margin: 0;
  background-color: #0B2434;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main > div {
  display: flex;
  gap: 2em;
}

.dice {
  font-size: 2rem;
  font-weight: bold;
  padding: .5em 1em;  
  margin: .25em 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root, body {
    background-color: #0B2434;
  }

  main {
    color: #0B2434;
    background-color: #f8f4f4;
  }

  .dice {
    color: #0B2434;
    background-color: white;
  }
}
